{% set ver = '0.1.036' %}
<!doctype html>
<html class="no-js" lang="{{ session.lang }}" dir="{{ session.locale.language.direction }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  {% vitrin_head %}

  {% if settings.header_logo %}
    {% set logoUrl = settings.header_logo %}
  {% else %}
    {% set logoUrl = store.logo %}
  {% endif %}
  {% if settings.header_logo_mobile %}
    {% set logoUrlMobile = settings.header_logo_mobile %}
  {% elif store.settings.branding.mobile_app_logo %}
    {% set logoUrlMobile = store.settings.branding.mobile_app_logo %}
  {% endif %}

  <link rel="preload" as="image"
        href="{{ image_url(logoUrl, h=175, q=100) }}"
        media="(min-width: 992px)">

  {% if logoUrlMobile %}
    <link rel="preload" as="image"
          href="{{ image_url(logoUrlMobile, h=175, q=100) }}"
          media="(max-width: 991px)">
  {% else %}
    <link rel="preload" as="image"
          href="{{ image_url(logoUrl, h=175, q=100) }}"
          media="(max-width: 991px)">
  {% endif %}
        
    
  <link rel="shortcut icon" type="image/jpg" href={{ store.icon }}/>
    {#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Changa">#}
    <!--jquery UI -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
      media="print"
      onload="this.onload=null;this.media='all'"
      href="https://fonts.googleapis.com/css2?family={% if settings.fonts_name %}{{ settings.fonts_name }}{% else %}Changa{% endif %}:wght@300;400;500;700&display=swap">

            <style>
        :root {
            --primary-color: {{store.settings.branding.colors.primary}};
            --text-color-primary-bg: {{store.settings.branding.colors.on_primary}};
            --primary-color-op-5: {{store.settings.branding.colors.primary}}0c;
            --sub-primary-color: #521B25;
            --white-color: #fff;
            --warning-color:  #FFCF57;
            --danger-color:  #EC5550;
            --sucess-color:  #5AA788;
            --black-color:  #0000;
            --secondary-color: #DEDEDE;
            --secondary-color-alt0:  #6B6B6B;
            --secondary-color-alt1:  #5A5A5A;
            --secondary-color-alt2:  #EFEFEF;
            --secondary-color-alt3:  #494949;
            --secondary-color-alt4:  #D9D9D9;
            --secondary-color-alt5:   #E8E8E8;
            --secondary-color-alt6:   #8B8B8B;
            --secondary-color-alt7: #ebebeb;
            --secondary-color-alt8: #484848;
            --secondary-color-alt9: #A8A8A8;
            --secondary-color-alt10: #4A4A4A;
            --secondary-color-alt11: #606060;
            --secondary-color-alt12: #767676;
            --secondary-color-alt13: #F8F8F8;
            /* font-wieght */
            --font-weight-sizeOne: 400;
            --font-wieght-sizeTwo: 700;
            --font-wieght-sizeThree: 600;
            /* font-size */
            --font-size-forteen: 1.167;
            --font-size-sixteen: 1.333;
            --font-size-eighteen: 1.5;

            --main-slider-height: 471.43px;
            --main-slider-sm-height: 115px;
            
            /* CDN Asset URLs */
            --heart-outlined-icon: url('{{ "heart-outlined.svg" | asset_url }}');
            --heart-filled-icon: url('{{ "heart-filled.svg" | asset_url }}');
        }

        @font-face {
          font-family: 'icomoon';
          src:  url('{{ 'icomoon.eot?d668y32' | asset_url }}');
          src:  url('{{ 'icomoon.eot?d668y32#iefix' | asset_url }}') format('embedded-opentype'),
          url('{{ 'icomoon.woff2?d668y32' | asset_url }}') format('woff2'),
          url('{{ 'icomoon.ttf?d668y32' | asset_url }}') format('truetype'),
          url('{{ 'icomoon.woff?d668y32' | asset_url }}') format('woff'),
          url('{{ 'icomoon.svg?d668y32#icomoon' | asset_url }}') format('svg');
          font-weight: normal;
          font-style: normal;
          font-display: block;
        }
    </style>
    
    <link rel="stylesheet"
          href="{{ 'icomoon.css?v=1.0.2' | asset_url }}"
          media="print"
          onload="this.media='all'">
    <noscript>
      <link rel="stylesheet" href="{{ 'icomoon.css?v=1.0.2' | asset_url }}">
    </noscript>

    {% if session.lang == 'ar' %}
        <link rel="stylesheet" type="text/css" href="{{ 'bootstrap-rtl.css?v=1.05' | asset_url }}" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ 'bootstrap.min.css?v=1.01' | asset_url }}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ 'bootstrap-fixes.css?v=1.11' | asset_url }}" />


    <link rel="stylesheet" type="text/css" href="{{ 'jquery-ui.min.css' | asset_url }}"  />
    <link rel="stylesheet" type="text/css" href="{{ 'jquery-ui.structure.min.css' | asset_url }}"  />
    <link rel="stylesheet" type="text/css" href="{{ 'jquery-ui.theme.min.css' | asset_url }}"  />

    <link rel="stylesheet" type="text/css" href="{{ 'slick.css' | asset_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ 'slick-theme.css?v=1.08' | asset_url }}" />

    <link rel="stylesheet" type="text/css" href="{{ 'slide-menu.css' | asset_url }}" />

    <link rel="stylesheet" type="text/css" href="{{ 'slide-menu-style.css?v=1.16' | asset_url }}" />

    <link rel="stylesheet" href="{{ ('main.css?v=' ~ ver) | asset_url }}" />

    <link rel="stylesheet" type="text/css" href="{{ 'custom.css?v=1.148' | asset_url }}" />

    {% if session.lang == 'ar' %}
        <link rel="stylesheet" href="{{ 'main.rtl.css?v=1.25' | asset_url }}">
    {% endif %}

    {% block top_links %}{% endblock %}

  {% if user_custom_css %}
    <link rel="stylesheet" href="{{ user_custom_css }}">
  {% endif %}

</head>

<body class="{{ session.locale.language.direction }}"
      data-template="{{ session.template }}"
        {% if template == 'category' and category is not none %} data-category-id="{{ category.id }}" {% endif %}
>

{% if store.editing_mode %}
  <link href="https://fonts.googleapis.com/css2?family={% if settings.fonts_name %}{{ settings.fonts_name }}{% else %}Changa{% endif %}:wght@300;400;500;700&display=swap" rel="stylesheet">
{% endif %}

<style>
  body,html {
    font-family: {% if settings.fonts_name %}{{ settings.fonts_name | replace('+', ' ') }}{% else %}'Changa'{% endif %}, sans-serif;
  }
  :root {
  {% if settings is defined %}
        {% if settings.colors_header_background_color %}
        --header-primary-color: {{ settings.colors_header_background_color }};
        {% endif %}

      {% if settings.colors_header_menu_background_color %}
            --menu-header-primary-color: {{settings.colors_header_menu_background_color}};
            --header-primary-brightness: brightness(100%);
            {% elif settings.colors_header_background_color %}
            --menu-header-primary-color: {{settings.colors_header_background_color}};
            --header-primary-brightness: brightness(80%);
        {% endif %}

      {% if settings.colors_header_menu_text_color %}
        --menu-header-text-color-primary-bg: {{settings.colors_header_menu_text_color}};
      {% elif settings.colors_header_text_color %}
        --menu-header-text-color-primary-bg: {{settings.colors_header_text_color}};
      {% endif %}

        {% if settings.colors_header_text_color %}--header-text-color-primary-bg: {{settings.colors_header_text_color}};{% endif %}
        {% if settings.colors_footer_background_color %}--footer-primary-color: {{settings.colors_footer_background_color}};{% endif %}
        {% if settings.colors_footer_text_color %}--footer-text-color-primary-bg: {{settings.colors_footer_text_color}};{% endif %}
      }
  {% endif %}
</style>

{% block top_body %}{% endblock %}

<div class="app d-flex flex-column visible">
    <div class="header">
        {% block header %}{% endblock %}
    </div>
    <div class="main flex-grow-1 app-content"
            {% if settings.colors_background_image %} style="background-repeat: repeat; background-image: url('{{ settings.colors_background_image }}');" {% endif %}>
        {% block main_content %}{% endblock %}
    </div>
    <div class="footer">
        {% block footer %}{% endblock %}
    </div>
    {% block footer_sticky %}{% endblock %}
</div>

<script>
    window.appDirection = '{{ session.locale.language.direction }}';

    window.loadToasterScriptIfNotLoaded = function (onCompleted) {
        var list = document.getElementsByTagName('script');
        var i = list.length, flag = false;
        while (i--) {
            if (list[i].src === "{{ 'toastr.min.js' | asset_url }}") {
                flag = true;
                break;
            }
        }

        if (!flag) {
            var script = document.createElement('script');
            script.src = "{{ 'toastr.min.js' | asset_url }}";
            document.getElementsByTagName('head')[0].appendChild(script);

            var fileref = document.createElement("link");
            fileref.rel = "stylesheet";
            fileref.type = "text/css";
            fileref.href = "{{ 'toastr.min.css' | asset_url }}";
            document.getElementsByTagName("head")[0].appendChild(fileref)

            script.onload = function () {
                if(onCompleted)
                    onCompleted();
            }
        }else{
            if(onCompleted)
                onCompleted();
        }
    }
</script>

<script src="{{ 'jquery-3.6.0.min.js?v=1.0.0' | asset_url }}"></script>

<script src="{{ 'jquery-ui.min.js' | asset_url }}"></script>

<script src="{{ 'popper.min.js?v=1.0' | asset_url }}"></script>
<script src="{{ 'bootstrap.min.js' | asset_url }}"></script>

<script src="{{ 'slick.min.js' | asset_url }}"></script>
<script src="{{ 'slide-menu.ie.js?v=1.06' | asset_url }}"></script>

<script type="text/javascript" src="{{ ('main.js?v=' ~ ver) | asset_url }}" defer></script>
<script type="text/javascript" src="{{ ('bundle-offers.js?v=' ~ ver) | asset_url }}" defer></script>

{% vitrin_body %}

{% if session.template not in ['product_details', 'cart_page', 'page_details'] and safeget(store, "settings.checkout.is_loyalty_enabled", False) %}

    <script>
        var loyalty_button_direction = "{{ session.language.direction }}";
        var text_loyalty_rewards = '{{ _('Rewards') }}';
        var text_loyalty_options = '{{ _('For {points} get a discount {percentage}') }}';
        var store_currency_code = '{{ session.currency }}';
    </script>
    <script type='text/javascript' src="{{ ('layout_loyalty_points.js?v=' ~ ver) | asset_url }}"></script>

{% endif %}

{% block footer_scripts %}{% endblock %}


{% include "vitrin:shared/region_settings_dialog.jinja" %}

<script>
  window.zidOpenRegionSettingDialog = () => {
      region_settings_dialog.open()
  }
</script>

</body>

</html>
