<section class="subTitle-detail">
    <div class="container">
        <div class="d-flex">
            <h1 class="bread-title">{{ title }} &nbsp;</h1>
            <p class="bread-text">{% if description is not none %}{{ description }}{% endif %}</p>

        </div>
    </div>

</section>
