{% if settings.announcement_bar_display %}
    {% if not (settings.announcement_bar_page_display)
        or (template == 'home' and settings.announcement_bar_page_display == 'home')
        or settings.announcement_bar_page_display == 'all'
    %}
<div class="announcement-bar" style="z-index: 4; {% if settings.announcement_bar_background_color %}background: {{ settings.announcement_bar_background_color }} {% endif %}">
    <div class="container d-flex justify-content-center position-relative">
        <a href="{{ store.settings.announcement_bar.url }}">
            <h2 class="announcement-text mb-0 text-center py-1" style="{% if settings.announcement_bar_text_color %}color: {{ settings.announcement_bar_text_color }}{% endif %}">
                {{ settings.announcement_bar_text }}
            </h2>
        </a>
        <span class="icon-times-circle2 ab-close" style="{% if settings.announcement_bar_text_color %}color: {{ settings.announcement_bar_text_color }}{% endif %}" onclick="hideAnnouncementBar()"></span>
    </div>
</div>
    {% endif %}
{% endif %}

