<div class="profile-section d-none d-lg-block flex-shrink-0" style="background: var( --primary-color); min-height: 550px; padding-top: 20px">

    <div>
        <div class="profile-item">
            <a href="{{ url_for('profile') }}" class="d-flex flex-column profile-row {% if section == 'profile' %}active{% endif %}">
                <div class="d-flex align-items-center">
                    <span class="profile-item-image icon-badge_black"></span>
                    <h2 class="m-0  profile-item-title">
                        {{ _("Personal Information") }} 
                    </h2>
                </div>
                <div class="profile-item-description">
                    <p>{{ _("Your contact information") }} </p>
                </div>

            </a>
        </div>

        <div class="profile-item">
            <a href="{{ url_for('addresses') }}" class="d-flex flex-column profile-row {% if section == 'addresses' %}active{% endif %}">
                <div class="d-flex align-items-center">
                    <span class="profile-item-image icon-import_contacts"></span>
                    <h2 class=" m-0 profile-item-title">
                        {{ _("Addresses") }} 
                    </h2>
                </div>
                <div class="profile-item-description">
                    <p>{{ _("Through the address book, you can add and edit your favorite addresses") }} </p>
                </div>
            </a>
        </div>


        <div class="profile-item">
            <a href="{{ url_for('orders') }}" class="d-flex flex-column profile-row {% if section == 'orders' %}active{% endif %}">
                <div class="d-flex align-items-center">
                    <span class="profile-item-image icon-local_mall"></span>
                    <h2 class=" m-0 profile-item-title">
                        {{ _("Orders") }} 
                    </h2>
                </div>
                <div class="profile-item-description">
                    <p>{{ _("Through the list of orders, you can view previous and current orders") }} </p>
                </div>

            </a>
        </div>

        {% if store.settings.products.wishlist_enabled %}
            <div class="profile-item">
                <a href="{{ url_for('wishlist') }}" class="d-flex flex-column profile-row {% if section == 'wishlist' %}active{% endif %}">
                    <div class="d-flex align-items-center">
                        <span class="profile-item-image icon-heart-secondary"></span>
                        <h2 class=" m-0 profile-item-title">
                            {{ _("Wishlist") }} 
                        </h2>
                    </div>
                    <div class="profile-item-description">
                        <p>{{ _("Through the wish list you can browse products and delete favorite products") }} </p>
                    </div>
                </a>
            </div>
        {% endif %}

    </div>

</div>
