<div class="container mt-5 mb-5">
   
    <section class="product-selection mt-5 mb-5">
        <div class="container">
            <div id="desktop-profile-card" class="mt-5 mb-5 ">
                <div class="card">
                    <div class="card-body card-table-header">
                     <div class="d-flex justify-content-between">
                         <span>
                            {{ _("Shipping Option") }}                   
                                </span>
                         <span>
                             {{ _("Covered Cities") }}                      
                              </span>
                        <span>
                            {{ _("Shipping Charges ") }}
                        </span>
                        <span>
                            {{ _("Payment Upon Receipt") }}                   
                             </span>
                     </div>
                    </div>
                  </div>
                </div>
                <div id="desktop-profileCard" class="mt-5 mb-5">
                  <div class="card">
                    <div class="card-body">
                     <div class="d-flex justify-content-between">
                    <div class="profile-orderNumber">
                        <img src="{{ 'tard-logo.png' | asset_url }}" alt="">
                        <span class="profile-orderNumber">{{ _("Package") }}</span>
                    </div>
  

                      
    <span  class="btn profile-order-btn ">{{ _("Riyadh") }}</span>
                        <div class="profile-orderNumber">
                            <p>{{ _("Inside Merchant City") }}   	&nbsp;<span class="shipping-currency">35 SAR</span>  </p>
                            <p> {{ _("Outside Merchant City") }} 	&nbsp;<span class="shipping-currency">35 SAR</span>  </p>
                        </div>
                      
                            <span class="profile-orderNumber"> 
                                <span class="icon-close_icon"></span>
                            </span>
                       
                      
                         
                           
                        
                     </div>
                    </div>
                  </div>
                </div>
               
                <!--Mobile view-->
    
                <div id="mobile-profileCard" class="mt-5 mb-5 ">
                    <div class="card-profileMobile">
                      <div class="card-body">
                       <div class="d-flex justify-content-between">
                        <span class="profile-orderNumber">{{ _("Package") }}</span>
                        <span  class="btn profile-order-btn ">{{ _("Riyadh") }}</span>
                        
                              <span class="profile-orderNumber">لم يتم
                              </span>
                         
                              <div class="profile-orderNumber">
                                <p>{{ _("Inside Merchant City") }}  <span class="profile-currency">35 SAR</span>  </p>
                                <p> {{ _("Outside Merchant City") }}<span class="profile-currency">35 SAR</span>  </p>
                            </div>
                             
                          
                       </div>
                      </div>
                    </div>
                  </div>
           
        </div>
    </section>

</div>