<div id="{{ sectionId }}" section-id="{{ sectionId }}"
     data-lg-scroll-offset="130"
     data-md-scroll-offset="130"
     data-sm-scroll-offset="94"
     class="gallery-section container section-padding-space">
    {% if settings.title %}
      <h2 class="section-title p-0 theme-text-primary">{{ settings.title }}</h2>
    {% endif %}
    <div class="video-container">
      <video width="100%" height="auto" loop playsinline {% if settings.controls %}controls{% endif %}  {% if settings.autoplay %}autoplay muted{% endif %}>
        <source src="{{ settings.video }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
</div>

