{% extends "layout.jinja" %}

{% block header %} {% include 'header.jinja' %} {% endblock %}

{% block main_content %}
<div class="container mt-5 mb-5 text-center">
    <div class="mt-5 mb-5">
        <h1 style="color: var(--primary-color); font-size: 5rem">404</h1>
    </div>
    <p style="font-size: 2rem" class="theme-text-primary">{{ _("Page not found") }} </p>

    <a href="/" class="btn btn-primary mt-4">{{ _("Go to Home") }} </a>

    <p id="redirectMessage" class="mt-3">
        <span>{{ _("You will be redirected to the home page in") }} </span>
        <span id="redirectCountdown">3</span> {{ _("seconds") }} 
    </p>


</div>

<script>
    function startRedirectCountdown(duration) {
        var timer = duration, seconds;
        var countdownElement = document.getElementById('redirectCountdown');
        var countdownTimer = setInterval(function () {
            seconds = parseInt(timer % 60, 10);

            countdownElement.textContent = seconds;

            if (--timer < 0) {
                clearInterval(countdownTimer);
                window.location.href = "{{ url_for('home') }}";
            }
        }, 1000);
    }

    startRedirectCountdown(3);
</script>

{% endblock %}

{% block footer %} {% include 'footer.jinja' %} {% endblock %}
