{% extends "layout.jinja" %}


{% block header %} {% include 'header.jinja' %} {% endblock %}

{% block top_links %}
	  <link rel="stylesheet" type="text/css" href="{{ 'toastr.min.css' | asset_url }}"/>
    <link rel="stylesheet" href="{{ 'profile-style.css?v=1.02' | asset_url }}">
    <link rel="stylesheet" type="text/css" href="{{ 'account-pages.css?v=1.59' | asset_url }}" />
    <style>
      .account-content .btn-primary, .rtl .account-content .btn-primary {
          float: unset;
      }
    </style>
{% endblock %}


{% block main_content %}
    <div class="container-parent">
        <div class="profile-pages-bg d-none d-lg-flex flex-grow-1">
            <div class="section-colored"></div>
        </div>

        <div class="container">
            {% set title=_("Wishlist") %}{% set section='wishlist' %}{% include 'profile-section-dropdown.jinja' %}
            <div class="d-flex">
                {% set section='wishlist' %}{% include 'profile-section.jinja' %}
                <div class="flex-grow-1">
                    {% set title=_("Wishlist") %}{% set section='wishlist' %}{% include 'profile-title.jinja' %}
                    <div class="account-content">
                        <div>
                            <div id="wishlist-list" class="row">
                                {% for product in wishlist.data %}
                                    <div class="col-6 col-lg-4 py-3">
                                        {% set product=product %}{% set index=key %}{% include 'product-card.jinja' %}
                                    </div>
                                {% endfor %}
                            </div>
                            {% set totalPages=products.last_page %}{% set currentPage=products.current_page %}{% include 'pagination.jinja' %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %} {% include 'footer.jinja' %} {% endblock %}

{% block footer_scripts %}
	<script type="text/javascript" src="{{ 'toastr.min.js' | asset_url }}"></script>
{% endblock %}
