{% extends "layout.jinja" %}


{% block header %} {% include 'header.jinja' %} {% endblock %}

{% block top_links %}
    <link rel="stylesheet" href="{{ 'profile-style.css?v=1.03' | asset_url }}">
    <link rel="stylesheet" type="text/css" href="{{ 'account-pages.css?v=1.57' | asset_url }}" />
{% endblock %}

{% block main_content %}
    <div class="container-parent">
        <div class="profile-pages-bg d-none d-lg-flex flex-grow-1">
            <div class="section-colored"></div>
        </div>

        <div class="container">
            {% set title="Orders" %}{% set section='orders' %}{% include 'components/profile-section-dropdown.jinja' %}
            <div class="d-flex">
                {% set section='orders' %}{% include 'components/profile-section.jinja' %}
                <div class="flex-grow-1">
                    {% set title="Orders" %}{% include 'components/profile-title.jinja' %}
                    <div class="account-content">
                        <section class="mt-5 mb-5">
                            <div>
                                <div id="desktop-profile-card" class="mt-5 mb-5 d-none d-lg-block">
                                    <div class="card">
                                        <div class="card-body card-table-header" style="background-color: #D9D9D9">
                                            <div class="row">
                                                <div class="col">{{ _("Order ID") }}</div>
                                                <div class="col">{{ _("Status") }}</div>
                                                <div class="col">{{ _("Date") }}</div>
                                                <div class="col">{{ _("Total") }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for order in orders.results %}
                                <div id="desktop-profileCard" class="mt-5 mb-5">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col"><a class="theme-text-primary" style="text-decoration: underline" href="/orders/{{ order.code }}/invoice">#{{ order.id }}</a></div>
                                                <div class="col">{{ order.order_status.name }}</div>
                                                <div class="col">{{ order.created_at.strftime('%d-%m-%Y %I:%M:%S %p') if order.created_at else '' }}</div>
                                                <div class="col">{{ order.order_total_string }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer %} {% include 'footer.jinja' %} {% endblock %}
