{% extends "layout.jinja" %}

{% block header %} {% include 'header.jinja' %} {% endblock %}

{% block main_content %}
    <section class="blog mt-5 mb-5">
        <div class="container">

            <div class="blog-title mt-5 mb-3">
                <h1>{{ _("Blog") }}</h1>
            </div>

            {% if blogs is none %}
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <p class="card-title mb-0 text-muted">
                            {{ _("No posts found, please visit this page later") }}
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="text-muted">
                        <span>{{ _("Total Posts") }}</span>
                        <span class="badge badge-primary rounded-pill ml-1">{{ blogs|length }}</span>
                    </div>
                </div>

                <div class="row">
                    {% for blog in blogs %}
                        <div class="col-md-6 mb-4">
                            <div class="card shadow-sm h-100">
                                <div class="card-header py-3">
                                    <h6 class="card-title font-weight-bold mb-0">
                                        <a href="/blogs/{{ blog.slug }}" title="{{ blog.title }}" class="text-secondary">
                                            {{ blog.title }}
                                        </a>
                                    </h6>
                                </div>
                                {% if blog.SEO_page_description %}
                                    <div class="card-body text-muted py-2 d-none d-sm-block">
                                        {{ blog.SEO_page_description | safe }}
                                    </div>
                                {% endif %}
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a href="/blogs/{{ blog.slug }}" class="text-color-primary">
                                        <span>{{ _("Read More") }}</span>
                                        <span class="icon-arrow-{% if session.lang == 'ar' %}left{% else %}right{% endif %}-primary" aria-hidden="true"></span>
                                    </a>
                                    <div class="dropdown">
                                        <button class="btn btn-link px-0 text-secondary" type="button"
                                                data-toggle="dropdown" aria-expanded="false">
                                            <span class="icon-import_contacts" aria-hidden="true"></span>
                                            <span class="sr-only">{{ _("Share") }}</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right shadow border-0 rounded">
                                            <li>
                                                <a class="dropdown-item py-2 d-flex align-items-center" target="_blank"
                                                   href="https://api.whatsapp.com/send?text={{ blog.title }}%20{{ store.permalink }}blogs/{{ blog.slug }}">
                                                    <span class="icon-whatsapp" style="display:inline-block;width:20px;text-align:center" aria-hidden="true"></span>
                                                    <span class="px-1">{{ _("Whatsapp") }}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item py-2 d-flex align-items-center" target="_blank"
                                                   href="https://t.me/share/url?url={{ store.permalink }}blogs/{{ blog.slug }}&amp;text={{ blog.title }}">
                                                    <span style="display:inline-block;width:20px;text-align:center" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="currentColor"><path d="M11.944 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12 12 12 0 0 0 12-12A12 12 0 0 0 12 0a12 12 0 0 0-.056 0zm4.962 7.224c.1-.002.321.023.465.14a.506.506 0 0 1 .171.325c.016.093.036.306.02.472-.18 1.898-.962 6.502-1.36 8.627-.168.9-.499 1.201-.82 1.23-.696.065-1.225-.46-1.9-.902-1.056-.693-1.653-1.124-2.678-1.8-1.185-.78-.417-1.21.258-1.91.177-.184 3.247-2.977 3.307-3.23.007-.032.014-.15-.056-.212s-.174-.041-.249-.024c-.106.024-1.793 1.14-5.061 3.345-.48.33-.913.49-1.302.48-.428-.008-1.252-.241-1.865-.44-.752-.245-1.349-.374-1.297-.789.027-.216.325-.437.893-.663 3.498-1.524 5.83-2.529 6.998-3.014 3.332-1.386 4.025-1.627 4.476-1.635z"/></svg></span>
                                                    <span class="px-1">{{ _("Telegram") }}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item py-2 d-flex align-items-center" target="_blank"
                                                   href="https://www.facebook.com/sharer/sharer.php?u={{ store.permalink }}blogs/{{ blog.slug }}">
                                                    <span class="icon-facebook-f" style="display:inline-block;width:20px;text-align:center" aria-hidden="true"></span>
                                                    <span class="px-1">{{ _("Facebook") }}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item py-2 d-flex align-items-center" target="_blank"
                                                   href="https://twitter.com/intent/tweet?text={{ blog.title }}&amp;url={{ store.permalink }}blogs/{{ blog.slug }}">
                                                    <span class="icon-twitter" style="display:inline-block;width:20px;text-align:center" aria-hidden="true"></span>
                                                    <span class="px-1">{{ _("Twitter") }}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                <a class="dropdown-item py-2 d-flex align-items-center" target="_blank"
                                                   href="mailto:?subject={{ blog.title }}&amp;body={{ store.permalink }}blogs/{{ blog.slug }}">
                                                    <span style="display:inline-block;width:20px;text-align:center" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/><polyline points="22,6 12,13 2,6"/></svg></span>
                                                    <span class="px-1">{{ _("Mail") }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </section>
{% endblock %}

{% block footer %} {% include 'footer.jinja' %} {% endblock %}
