{% extends "layout.jinja" %}

{% block header %} {% include 'header.jinja' %} {% endblock %}

{% block main_content %}

    <div id="loader"class="loader-container-relative"></div>

    <div id="blog">
    </div>

{% endblock %}

{% block footer %} {% include 'footer.jinja' %} {% endblock %}
