{% extends "layout.jinja" %}


{% block header %} {% include 'header.jinja' %} {% endblock %}

{% block main_content %}

    <div class="home">
        {% template_components %}
    </div>
    <h1 class="d-none">{{ store.settings.branding.seo.title if store.settings.branding.seo and store.settings.branding.seo.title and store.settings.branding.seo.title is defined else store.name }}</h1>

{% endblock %}

{% block footer %} {% include 'footer.jinja' %} {% endblock %}

{% block footer_scripts %}
    <script>
        $( window ).resize(function() {
            $('.s-slider').slick('resize');
        });
    </script>
{% endblock %}

