{% extends "layout.jinja" %}


{% block header %} {% include 'header.jinja' %} {% endblock %}

{% block main_content %}
    <section class="blog mt-5 mb-5 ">
        <div class="container">

            <div class="blog-title mt-5 mb-5">
                <h1>
                    {{ page.title }}
                </h1>
            </div>
            <div class="blog-text mt-3 mb-5">
                {{ page.content | safe }}
            </div>

            {% set entity = page %}
            {% include 'vitrin:shared/metafields.jinja' %}

        </div>
    </section>

{% endblock %}

{% block footer %} {% include 'footer.jinja' %} {% endblock %}
