{% extends "layout.jinja" %}


{% block header %} {% include 'header.jinja' %} {% endblock %}

{% block main_content %}

    <section class="search-products">
        <div class="products-title">
            <h2>Items</h2>
        </div>
    </section>

{% endblock %}

{% block footer %} {% include 'footer.jinja' %} {% endblock %}
